tensorflow_model_garden
*.pyc
*.jpg
*.records
.env
workspace/*
!workspace/*.py
!workspace/data/
workspace/data/*
!workspace/data/*.pbtxt
!workspace/pre_trained_models/
workspace/pre_trained_models/*
!workspace/models/
workspace/models/*
!workspace/exported_models/
workspace/exported_models/*
!workspace/**/*.sh
!workspace/**/.gitkeep
facenet/facenet_keras_weights.h5